.Components{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: rgba(4, 7, 34, 0.959);
}

.JsxExa{
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
}

.react-tabs__tab-list {
    border-bottom: 1px solid #aaa;
    margin: 0 0 10px;
    padding: 0;
    color: white;
    background-color: #282c34;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}